<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- namespace属性值推荐写成类似完全限定名的形式 -->
<mapper namespace="com.kaishengit.mapper.UserMapper">

	<!-- 
		根据Id查询User对象
		id: 类似方法名
		parameterType : 参数类型（可选）
		resultType : 返回值类型(可选) 
	-->
	<select id="findById" parameterType="int" resultType="User">
		select * from t_user where id = #{id}
	</select>
	
	<select id="findAll" resultType="User">
		select * from t_user
	</select>
	
	<!--OGNL(对象图导航语言):赋值   进行映射  -->
	<select id="findAllLoadDept" resultType="User">
	SELECT
		t_user.id,
		user_name,
		address,
		PASSWORD,
		t_dept.id AS `dept.id`,
		t_dept.dept_name AS `dept.deptName`
	FROM
		t_user,
		t_dept
	WHERE
	t_user.dept_id = t_dept.id
	</select>
	
	<insert id="save" parameterType="User">
		insert into t_user(user_name,password,address) values(#{userName},#{password},#{address})
	</insert>
	
	<update id="update" parameterType="User">
		update t_user set user_name=#{userName},password=#{password},address=#{address} where id = #{id}
	</update>
	
	<delete id="delById" parameterType="int">
		delete from t_user where id = #{id}
	</delete>
	
	
</mapper>